.loader {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 5px solid rgba($dark-grey, 0.2);
    border-left-color: $brand-color;
    background: transparent;
    animation: rotate-s-loader 1s linear infinite;
    margin: 1rem auto;
}
  
@keyframes rotate-s-loader {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}