.table{
    border:0;
    border-collapse:collapse;
    width:100%;

    th{
        background:$dark-grey;
        padding:1rem 2rem;
        color:$white-color;
        font-size:1.6rem;
        font-weight:500;
    }

    td{
        padding:1rem 2rem;
        background-color:$light-grey;
    }
}