/**
 * Basic typography style for copy text
 */
body {
	color: $text-color;
	font-family: $text-font-stack;
	font-size:1.5rem;
	line-height:1.3;
}

button, input, select, textarea{
	font-family:inherit;
}